[Unit]
Description=Main Server
After=network.target

[Service]
ExecStart=/home/ubuntu/nc_assignment4/serverExecutable
User=ubuntu
Restart=on-failure

[Install]
WantedBy=multi-user.target